img{
   padding: 5px;
  width: 200px;
  border-radius: 50%;
  display: block;
}

#hero-text{
  position: relatable;;
  padding: 5px;
  margin: 10px;
 margin-left: 50%;
}
#details{
  padding: 5px;
  
}